<%= form_for(@qrcode) do |f| %>
  <% if @qrcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qrcode.errors.count, "error") %> prohibited this qrcode from being saved:</h2>

      <ul>
      <% @qrcode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
    <br>
  <div class="actions">
    <%= f.submit(:class => "btn btn-primary") %>
  </div>
<% end %>


