<script type="text/javascript">
    $(document).ready( function () {
        $('#table_id').DataTable();
    } );
</script>
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>

  <script type="text/javascript"><!--
  function ReplaceContentInContainer(id, content, url) {
      var container = document.getElementById(id);
      container.innerHTML = content;
      qrurl.innerHTML = url;
      instructions.style.visibility = "visible";
      bubble.style.visibility = "visible";
      hideme.style.visibility = "visible";
  }
  //--></script>

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Description</th>
            <th>URL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <% @qrcodes.each do |qrcode| %>
        <tr>
          <td><%= qrcode.title %></td>
          <td><a href="<%= qrcode.url %>" target="_blank"><%= qrcode.url %></a></td>
          <td align="center"><a href="javascript:ReplaceContentInContainer('qrdiv',
      '<b><%= qrcode.title %></b></br><img src=http://chart.apis.google.com/chart?cht=qr&chl=<%= qrcode.url %>&chs=200x200 />',
      '<%= qrcode.url %>')"><img src="/assets/generate.png" width="20" height="20"></a>

            <%= link_to image_tag("edit.png", :border=>0, :size=>"20x20"), :action => 'edit', :id => qrcode %>
            <%= link_to image_tag("minus white.png", :size=>"20x20"), qrcode, :confirm => 'Are you sure?', :method => :delete %>
          </td>
    <% end %>
    </tbody>
</table>

<div class="btn-group">
  <%= link_to "New QR Code", new_qrcode_path, :class => "btn btn-primary" %>
</div>


<div id="hideme" class="rounded">
  <div id="bubble" class="chat-bubble" style="visibility: hidden;">
        <br><br>
        <b>To download:</b></br>
        Right click the image.</br>
        Click 'Save Image As'.</br>
        Choose an appropriate location to save.
        <div class="chat-bubble-arrow-border"></div>
        <div class="chat-bubble-arrow"></div>
    </div>
    <div id="qrdiv"></div>

    <div id="qrurl"></div>

    <div id="instructions" class="rounded2">
    Scan the above code with a QR reader.
    </div>

</div>

<a type="button" class="btn" style="width:100%;" href="#test_modal" data-toggle="modal">Add Image</a>


<div class="modal fade" id="test_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Modal Header</h3>
  </div>
  <div class="modal-body">
    <p>Test Modal</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save Changes</a>
  </div>
</div>